{% extends 'index.html' %}

{% load static %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md-16 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        {{current_part.image_url}}
                        <img class="col-md-16 col-lg-18 col-xl-12" src="/static{{current_part.image.url}}"
                            width=250 height=350 alt="Nie znaleziono." />
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <hr class="hr" />
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p><strong>{{current_part.name}}</strong></p>
                                <p class="small text-muted">Producent: <strong>{{current_part.vendor}}</strong></p>
                                <p class="small text-muted">Numer katalogowy: <strong>{{current_part.catalog_number}}</strong></p>
                                <p class="small text-muted">Jakość produktu: <strong>{{current_part.quality_fac}}</strong></p>
                                <p class="small text-muted">Czas dostawy:
                                    <strong> 
                                    {{current_part.time_of_delivery}}
                                    {% if current_part.time_of_delivery == 1 %}
                                    dzień
                                    {% else %}
                                    dni
                                    {% endif %}
                                    </strong>
                                </p>
                                <p>
                                    Uwagi:
                                    <strong>
                                        {% if current_part == cheapest %}
                                        <span style="color: green">Najtanszy</span>    
                                        {% endif %}
                                        {% if current_part == highest_quality %}
                                        <span style="color: rgb(236, 138, 9)">Najlepiej wykonany</span> 
                                        {% endif %}
                                        {% if current_part == fastest_delivery %}
                                        <span style="color: blue">Najszybszy czas dostawy</span>                                      
                                        {% endif %}
                                           
                                        {% if request.method == 'POST' %}
                                            {% if current_part == new_best_product %}
                                            <span style="color: purple">Najlepszy produkt</span>
                                            {% endif %}
                                        {% else %}
                                            {% if current_part == best_product %}
                                            <span style="color: purple">Najlepszy produkt</span>
                                            {% endif %}
                                        {% endif %}  
                                    </strong>
                                </p>
                                <p>
                                    Ocena produktu:
                                    {% if request.method == 'POST' %}
                                        {% for new_part, optimal in part_with_optimal %}
                                            {% if current_part == new_part %}
                                                {{optimal}}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                    {{current_part.optimal_fac}}
                                    {% endif %}
                                </p>
                                <p class="small text-muted">Silnik: <strong>{{current_part.engine_id}}</strong></p>
                            </div>
                            <div>
                                <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p class="small text-muted text-center">
                                    {% if current_part.is_original %}
                                        <strong style="color: rgb(7, 233, 18)">Oryginał</strong>
                                    {% else %}
                                        <strong style="color: red;">Zamiennik</strong>
                                    {% endif %}
                                </p>
                                <p class="text-muted">Cena: {{current_part.price}} PLN</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                </div>
            </div>
            
        </div>
    </div>
</section>

        <h3 class="mt-5">Pasujące części</h3>
        <table class="table table-striped">
            <thead class="text-center">
                <th scope="col">Nazwa</th>
                <th scope="col">Producent</th>
                <th scope="col">Nr. katalogowy</th>
                <th scope="col">Ilość magazynowa</th>
                <th scope="col">Czas dostawy</th>
                <th scope="col">Jakośc produktu</th>
                <th scope="col">Status produktu</th>
                <th scope="col">Cena produktu</th>
                <th scope="col">Ocena produktu</th>
                <th scope="col">Uwagi</th>
            </thead>
            {% for part in others %}
            <tr class="text-center">
                <th scope="row"><a href="{% url 'show_part' part.id %}">{{part.name}}</a></th>
                <td>{{part.vendor}}</td>
                <td>{{part.catalog_number}}</td>
                <td>{{part.quantity}} szt.</td>
                <td>
                    {{part.time_of_delivery}}
                    {% if part.time_of_delivery == 1 %}
                    dzień
                    {% else %}
                    dni
                    {% endif %}
                </td>
                <td>{{part.quality_fac}}</td>
                <td>
                    {% if part.is_original %}
                    <strong style="color: rgb(7, 233, 18)">Oryginał</strong>
                    {% else %}
                    <strong style="color: red;">Zamiennik</strong>
                    {% endif %}
                </td>
                <td>{{part.price}} PLN</td>
                <td>
                    {% if request.method == 'POST' %}
                        {% for new_part, optimal in part_with_optimal %}
                            {% if part == new_part %}
                                {{optimal}}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    {{part.optimal_fac}}</td>
                    {% endif %}
                <td>
                    <strong>
                        {% if part == cheapest %}
                        <span style="color: green">Najtanszy</span> <br>
                        {% endif %}
                        {% if part == highest_quality %}
                        <span style="color: rgb(236, 138, 9)">Najlepiej wykonany</span> <br>
                        {% endif %}
                        {% if part == fastest_delivery %}
                        <span style="color: blue">Najszybszy czas dostawy</span> <br>
                        {% endif %} 
                        {% if request.method == 'POST' %}
                            {% if part == new_best_product %}
                            <span style="color: purple">Najlepszy produkt</span> <br>
                            {% endif %}
                        {% else %}
                            {% if part == best_product %}
                            <span style="color: purple">Najlepszy produkt</span> <br>
                            {% endif %}
                        {% endif %}  
                    </strong>
                </td>
            </tr>
            {% endfor %}
        </table class="mb-5">

<h5 class="mt-5 tex-center">Obliczenie ogólnej oceny produktu</h5>
<p>Wyznacz wagę współczynników według swoich preferencji aby uzyskać najlepszy efekt.</p>
<form method="post" class="row justify-content-center">
    {% csrf_token %}
    <label for="quality" class="form-label">Jakość</label>
    <input type="range" id="quality-bar" min="0" max="10" value="5" name="quality" class="form-range">
    <label for="price" class="form-label">Cena</label>
    <input type="range" min="0" max="10" value="5" name="price" class="form-range price-bar">
    <label for="time" class="form-label">Czas</label>
    <input type="range" min="0" , max="10" , value="5" name="time" class="form-range">
    <input type="submit" class="mt-5 btn btn-success" value="Dokonaj podsumowania">
</form>

<script>
    const qualityBar = document.querySelector('#quality-bar');
    const priceBar = document.querySelector('.price-bar');

    qualityBar.addEventListener('input', function () {
        priceBar.value = 10 - qualityBar.value;
    });

    priceBar.addEventListener('input', function () {
        qualityBar.value = 10 - priceBar.value;
    });
</script>

{% endblock %}

