{% extends 'index.html' %}
{% load static %}
{% block content %}

{% if parts.count > 0 %}
<section id="cars" class="bg-light">
    <div class="container-lg">
        <div class="text-center">
            <h3>{{engine}} - lista dostępnych części</h3>
            <p>
                Poniżej znajduje się lista dostępnych części do wyżej podanego numeru silnika, jeżeli nie ma części która
                cię interesuje, spróbuj przeszukać inny silnik lub poczekaj na wprowadzenie zmian.
            </p>
        </div>
    </div>
</section>
{% endif %}

{% if parts.count > 0 %}
<section style="background-color: #eee;">
    <div class="container py-5">
        {% for part in parts%}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="/static{{part.image.url}}"
                                        class="w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>{{part.name}}</h5>
                                <div class="d-flex flex-row">
                                    <div class="text-danger mb-1 me-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>Producent: <strong>{{part.vendor.name}}</strong></span>
                                </div>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span>
                                        {% if part.is_original %}
                                        <strong style="color: #08e613">Oryginał</strong>
                                        {% else %}
                                        <strong style="color: #d30b15">Zamienik</strong>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="mb-2 text-muted small">
                                    <span>Jakośc produktu: {{part.quality_fac}}</span>
                                    <span class="text-primary"> • </span>
                                    <span>
                                        Czas dostawy:
                                        {{part.time_of_delivery}}
                                        {% if part.time_of_delivery == 1 %}
                                        dzień
                                        {% else %}
                                        dni
                                        {% endif %}
                                    </span>
                                    <span>
                                        {% if not part.is_original %}
                                            <span class="text-primary"> • </span>
                                            OEM: {{part.original_id.catalog_number}}
                                        {% endif %}
                                    </span>
                                </div>
                                <p class="text-truncate mb-4 mb-md-0">
                                    {{part.engine_id}}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">{{part.price}} PLN</h4>
                                    
                                </div>
                                <h6 class="text">
                                    {% if part.quantity == 0 %}
                                        <span style="color: rgb(233, 8, 8);"><strong>Brak produktu w magazynie</strong></span>
                                    {% else %}
                                        <span>Ilośc magazynowa: {{part.quantity}}</span> 
                                    {% endif %}
                                </h6>
                                <div class="d-flex flex-column mt-4">
                                    <a class="btn btn-primary btn-sm" href="{% url 'show_part' part.id %}">
                                        Szczegóły
                                    </a>
                                    {% if part.quantity == 0 %}
                                    <span class="btn btn-outline-dark btn-sm mt-2" style="pointer-events: none; cursor: not-allowed;">
                                        Niedostępny
                                    </span>
                                    {% else %}
                                    <button data-product="{{part.id}}" data-action="add" class="btn btn-outline-primary btn-sm mt-2 update-cart">
                                        Dodaj do koszyka
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <script src="{% static 'javascript/cart.js' %}"></script>
    </div>
</section>
{% else %}
<h2 class="text-error text-center">Brak dostępnych części</h2>
<p class="text-error text-center">Części do tego silnka nie są dostępne w systemie. Wybierz inny silnik.</p>
{% endif %}
{% endblock %}

