{% extends 'root.html' %}

{% block title %} O użytkowniku {% endblock %}

{% block content %}

<table class="table table-striped">
    <thead class="text-center">
        <th scope="col">Nazwa użytkownika</th>
        <th scope="col">Producent</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Adres e-mail</th>
        <th scope="col">Data utworzenia</th>
    </thead>
    <tr class="text-center">
        <td>
            <strong>{{user.username}}</strong>
        </td>
        <td>{{client.name}}</td>
        <td>{{client.surname}}</td>
        <td>{{client.email}}</td>
        <td>{{client.created}}</td>
        <td><a class="btn btn-success" href="{% url 'client_edit' %}">Edytuj</a></td>
    </tr>
</table>
{% endblock %}